.explore {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem;
}

.explore__filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  padding: 0.5rem;
}

.explore__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

@media (min-width: 44rem) {
  .explore {
    gap: 1rem;
    padding: 2rem;
  }

  .explore__filters {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }

  .explore__gallery {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
  }
}
