.header {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  background-color: var(--color-header-background);
  color: var(--color-header-text);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto;
  padding: 0.5rem;

  background: var(--color-accent);
  color: var(--color-accent-text);

  text-align: center;

  z-index: 1;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
}

.header__title {
  grid-column: 1;
}

.header__nav {
  grid-column: 2;
  text-align: right;
}

@media (min-width: 44rem) {
  .header {
    grid-template-columns: 2fr 3fr;
  }
}
