.cuisines {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.cuisines__title {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.cuisines__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

@media (min-width: 44rem) {
  .cuisines__title {
    padding-bottom: 0;
  }

  .cuisines__list {
    margin: 2rem;
    gap: 3rem;
  }
}
