.recipe__category-name {
  padding: 0.5rem;

  font-size: 1rem;
  font-weight: bold;

  border: none;
  cursor: pointer;
  background-color: transparent;

  text-align: left;
}

.recipe__category-name::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 3px;
  margin-right: 8px;
  background-color: var(--color-header-background);
}

.recipe__category-name:hover {
  background-color: var(--color-header-background);
  color: var(--color-header-text);
}

.recipe__category-name:hover::before {
  background-color: var(--color-header-text);
}

@media (min-width: 44rem) {
  .recipe__category-name {
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}
